@font-face {
   font-family: 'Arial Black';
   src: url(../FONTS/arial-black.ttf);
}

@font-face {
   font-family: 'Algerian';
   src: url(../FONTS/algerian.ttf);
}

@font-face {
   font-family: 'Cooper Black';
   src: url(../FONTS/cooper-black.ttf);
}

@font-face {
   font-family: 'Super Magic';
   src: url(../FONTS/Super\ Magic.ttf);
}

main
{
   justify-content: start;
   align-items: center;
}

.container
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#titulo
{
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   font-size: 1.4rem;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Abril Fatface';
   margin: 2rem auto;
}

#titulo p {letter-spacing: 2px;}

#titulo h2 {font-size: 1.2rem;}

.taxa
{
   display: inline-block;
   margin: 0 1rem;
   animation: slideFade 1s forwards, changeColor 1s 1s infinite;
}

.valor
{
   display: inline-block;
   animation: shake 1s 1s infinite linear;
}

.icone-de-carrinho
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 50px;
   cursor: pointer;
   background-color: var(--green);
   padding: .7rem;
   border-radius: 50%;
   position: fixed;
   bottom: 50px;
   left: 10px;
   z-index: 10;
}

.scaling-animation
{
   animation: scaling 1s forwards;
}

/* Css do cardápio */

.tipo-de-lanche
{
   border: 1px solid #fff;
   border-radius: 20px;
   margin: 2rem;
   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.tipo-de-lanche legend
{
   color: #fff;
   font-family: "Super Magic", cursive;
   padding: 10px;
   font-size: 2.5rem;
   font-style: oblique;
   text-transform: uppercase;
   text-shadow: 2px 2px 5px var(--green);
   animation: scaling 5s infinite;
}

.item-de-compra
{
   display: flex;
   width: 500px;
   height: 300px;
   border: 2px solid var(--pink);
   border-radius: 20px;
   box-shadow: 3px 3px 2px var(--green);
}

.item-de-compra figure
{
   position: relative;
   cursor: pointer;
}

.item-de-compra figure figcaption
{
   position: absolute;
   top: 0%;
   background-color: #00000098;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   height: 300px;
   color: #fff;
   font-family: 'Cooper Black';
   transition: .6s;
   opacity: 0;
   font-style: italic;
}

.item-de-compra figure:hover figcaption
{
   opacity: 1;
}

.square-img
{
   width: 300px;
   height: 296px;
   border-top-left-radius: 17px;
   border-bottom-left-radius: 17px;
}

.texto-e-descricao
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: .5rem;
   color: #fff;
   height: 100%;
}

.texto-e-descricao h3
{
   font-size: 1.2rem;
   font-family: 'Algerian';
}

.texto-e-descricao p
{
   font-family: 'Arial Black';
   font-size: .75rem;
}

.texto-e-descricao > span
{
   font-family: 'Arial Black';
   font-size: 1.5rem;
   color: var(--pink);
}

.botoes-de-acao
{
   font-family: 'Arial Black';
   display: flex;
   gap: 5px;
   justify-content: space-around;
   align-items: center;
   font-size: 2rem;
   text-align: center;
   height: 50px;
}

.diminuir-qtd, .adicionar-qtd, .qtd
{
   padding: 1rem;
   border-radius: 20px;
   cursor: pointer;
   outline: none;
   border: none;
   color: #fff;
   font-family: 'Arial Black';
   font-size: 2rem;
   width: 50px;
   height: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.diminuir-qtd {background-color: var(--red);}
.adicionar-qtd {background-color: var(--green);}

/* keyframes dos itens */

.slideNappear {opacity: 0; animation: slideNappear .3s forwards;}
.slideNappear2 {opacity: 0; animation: slideNappear .3s .3s forwards;}
.slideNappear3 {opacity: 0; animation: slideNappear .3s .6s forwards;}
.slideNappear4 {opacity: 0; animation: slideNappear .3s .9s forwards;}
.slideNappear5 {opacity: 0; animation: slideNappear .3s 1.2s forwards;}
.slideNappear6 {opacity: 0; animation: slideNappear .3s 1.5s forwards;}
.slideNappear7 {opacity: 0; animation: slideNappear .3s 1.8s forwards;}
.slideNappear8 {opacity: 0; animation: slideNappear .3s 2.1s forwards;}
.slideNappear9 {opacity: 0; animation: slideNappear .3s 2.4s forwards;}
.slideNappear10 {opacity: 0; animation: slideNappear .3s 2.7s forwards;}
.slideNappear11 {opacity: 0; animation: slideNappear .3s 3s forwards;}
.slideNappear12 {opacity: 0; animation: slideNappear .3s 3.3s forwards;}
.slideNappear13 {opacity: 0; animation: slideNappear .3s 3.6s forwards;}
.slideNappear14 {opacity: 0; animation: slideNappear .3s 3.9s forwards;}
.slideNappear15 {opacity: 0; animation: slideNappear .3s 4.2s forwards;}
.slideNappear16 {opacity: 0; animation: slideNappear .3s 4.5s forwards;}
.slideNappear17 {opacity: 0; animation: slideNappear .3s 4.8s forwards;}

@keyframes slideNappear 
{
   0%
   {
      opacity: 0;
      transform: translateX(-300px);
   }
   100% {transform: translateX(0); opacity: 1;}
}

@keyframes scaling
{
   0% {transform: scale(1);}
   25% {transform: scale(1.2);}
   50% {transform: scale(1);}
   75% {transform: scale(1.2);}
   100% {transform: scale(1);}
}

/* classe indisponivel */

.indisponivel-div
{
   display: none;
}

.item-de-compra.indisponivel img
{
   filter: grayscale(100%);
}

.item-de-compra.indisponivel figcaption
{
   z-index: -2;
}

.item-de-compra.indisponivel figure {cursor: default}

.item-de-compra.indisponivel .indisponivel-div {
   color: #fff; /* Texto em branco */
   padding: 5px;
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   text-align: center;
   display: unset;
   font-family: 'Arial Black';
   font-size: 1.5rem;
   background-color: var(--red);
   text-transform: uppercase;
}

.gray
{
   filter: grayscale(100%);
   cursor: default;
}