@media screen and (max-width: 650px)
{
   .square-img, .item-de-compra figure figcaption
   {
      width: 296px;
      height: 250px;
      border-radius: 0;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
   }

   .item-de-compra
   {
      flex-direction: column;
      height: 100%;
      width: 300px;
   }

   .texto-e-descricao p
   {
      height: 100%;
      font-size: .9rem;
   }

   .texto-e-descricao
   {
      row-gap: 20px;
   }
}

@media screen and (max-width: 430px)
{
   #titulo, #titulo h2
   {
      padding: .5rem;
      font-size: 1.2rem;
   }

   .tipo-de-lanche
   {
      padding: 0;
      margin: 20px;
      border: 0;
   }

   .item-de-compra, .square-img, .item-de-compra figure figcaption, .indisponivel-div
   {
      width: 100%;
      max-width: 300px;
      min-width: 185px;
   }
}

@media screen and (max-width: 380px)
{
   .square-img, .item-de-compra figure figcaption
   {
      height: 250px;
   }
}

@media screen and (max-width: 300px)
{
   #titulo, #titulo h2
   {
      font-size: .9rem;
   }
}