@font-face {
   font-family: 'Arial Black';
   src: url(../FONTS/arial-black.ttf);
}

@font-face {
   font-family: 'Algerian';
   src: url(../FONTS/algerian.ttf);
}

@font-face {
   font-family: 'Cooper Black';
   src: url(../FONTS/cooper-black.ttf);
}

main
{
   justify-content: start;
   align-items: center;
}

.container
{
   display: flex;
   flex-direction: column;
   min-height: var(100vh - 140px);
}

#titulo
{
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   font-size: 1.4rem;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Abril Fatface';
   margin: 2rem auto;
}

#titulo h2 {font-size: 1.2rem;}

.taxa
{
   display: inline-block;
   margin: 0 1rem;
   animation: slideFade 1s forwards, changeColor 1s 1s infinite;
}

.valor
{
   display: inline-block;
   animation: shake 1s 1s infinite linear;
}

.form, .tabela
{
   border: 1px solid #fff;
   padding: 2rem;
   border-radius: 20px;
   box-shadow: 2px 2px 5px #fff;
   width: 500px;
   color: #fff;
}

#pedido
{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
}

.tabela
{
   text-align: left;
}

.tabela * {display: inline-block;}

.tabela h2
{
   font-size: 20pt;
   text-transform: uppercase;
   font-family: 'Arial Black';
   text-align: center;
   margin-bottom: 10px;
}

.titulo-tabela
{
   font-family: 'Algerian';
   font-size: 18pt;
   margin-bottom: 10px;
}

.item-tabela
{
   font-size: 14pt;
   font-family: 'Cooper Black';
   margin-left: 30px;
   margin-bottom: 10px;
}

.flex-tabela
{
   display: flex;
   flex-direction: column;
}

.ul-tabela
{
   margin-left: 100px;
   font-family: 'Cooper Black';
}

.ul-tabela li {display: list-item;}