@keyframes changeColor
{
   0% {
      color: #fff;
      transform: scale(1);
   }
   33.33% {
      color: var(--green);
      transform: scale(1.1);
   }
   66.67% {color: var(--pink);}
   100% {
      color: #fff;
      transform: scale(1);
   }
}

@keyframes slideFade
{
   0%
   {
      opacity: 0;
      transform: translateX(-100px);
   }

   100%
   {
      opacity: 1;
      transform: translateX(0px);
   }
}

@keyframes shake
{
   0% {transform: rotate(0deg);}
   33.33% {transform: rotate(-5deg); color: var(--pink);}
   66.67% {transform: rotate(5deg); color: var(--green);}
   100% {transform: rotate(0deg);}
}

@keyframes surgir
{
   0% {opacity: 0; transform: scale(0); z-index: 0;}
   100% {opacity: 1; transform: scale(1); z-index: 20;}
}

@keyframes desaparecer
{
   0% {opacity: 1; transform: scale(1); z-index: 20;}
   100% {opacity: 0; transform: scale(0); z-index: 0;}
}