.logo-header
{
   border-radius: 50%;
   width: 100px;
}

.whatsapp-logo
{
   width: 30px;
}

.seta
{
   width: 20px;
}

.fiteiro-img
{
   border-radius: 20px;
}

.item-img
{
   width: 450px;
   height: 300px;
   border-radius: 20px;
   box-shadow: 2px 2px 5px #000;
}