* {margin: 0; padding: 0; box-sizing: border-box;}
@font-face {
   font-family: "Chery";
   src: url(../FONTS/CHERI___.TTF);
}

body
{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   background-color: #1f343d;
   overflow-x: hidden;
}

main
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header
{
   display: flex;
   width: 100vw;
   justify-content: space-between;
   align-items: center;
   background-color: #617d8a;
   box-shadow: 2px 2px 5px #000;
   padding: 0 2rem;
}

.header a, .header-text
{
   display: flex;
   align-items: center;
   gap: 10px;
   text-decoration: none;
   color: #fff;
   font-family: "Chery";
}

.header-text
{
   font-size: 2.5rem;
   font-family: "Chery";
   text-shadow: 2px 2px 1px #000;
   color: #fff;
}

.btn-to-top
{
   background-color: #617d8a;
   width: 50px;
   height: 50px;
   padding: .7rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 30px;
   border-radius: 50%;
   position: fixed;
   bottom: 50px;
   right: 10px;
   cursor: pointer;
}

.div-btn-to-top:hover .mensagem-de-hover
{
   opacity: 1;
}

.mensagem-de-hover
{
   position: fixed;
   bottom: 103px;
   right: 10px;
   background-color: #617d8a;
   color: bisque;
   opacity: 0;
   transition: 1s;
   text-align: center;
   padding: 2px;
}

.footer
{
   background-color: #617d8a;
   width: 100vw;
   display: flex;
   justify-content: center;
   padding: .5rem;
   color: #fff;
}

.signature a
{
   text-decoration: none;
   font-size: 1.1rem;
   color: #fff;
}

.signature a:hover
{
   color: rgb(222, 184, 135);
}

#about
{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   padding: 2rem;
   gap: 5rem;
   height: 100vh;
   flex-wrap: wrap;
}

#about p
{
   max-width: 50rem;
   text-align: center;
   color: #fff;
   font-size: 1.8rem;
}

#about div
{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
   justify-content: center;
}

.pedir-btn
{
   outline: 0;
   border: 0;
   width: 150px;
   height: 50px;
   padding: 10px;
   border-radius: 50px;
   color: #fff;
   background-color: #617d8a;
   font-size: 1.3rem;
   text-decoration: none;
   cursor: pointer;
}

.pedir-btn:hover
{
   background-color: #f705f7;
   color: #13003d;
}

#about div a
{
   display: flex; justify-content: center; align-items: center;
   text-align: center;
}